/* home.module.css */

.container {
    
    padding:3rem;
    width: 100%;
  }
  
  .heading {
    font-size: 2.25rem;
    font-weight: 700;
  }
  
  .separator {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 1.5rem; /* Gap between grid items */
  }
  .grid-cols {
    gap: 1.5rem;
  }
  
  .cardSkeleton {
    border-width: 6rem;
    border-color: rgba(61, 173, 243, 0.2);
    height: 12rem;
    width: 100%;
  }
  
  .card {
    border: 2px solid #ddd;
    border-radius: 8px;
    padding: 0.5rem;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 15rem;
  }
  
  .cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
  }
  
  .cardTitle {
    font-weight: bold;
    font-size: 1.125rem;
  }
  
  .cardDescription {
    color: #6b7280;
    font-size: 0.875rem;
  }
  
  .cardFooter {
    margin-top: 0.1rem;
  }
  