.aSide {
    width: 400px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 0.5rem;
    border-left: 2px solid #ccc;
    padding: 1rem;
    background-color: #f9fafb;
    overflow-y: auto;
    height: 100%;
  }