.dragOverlayWrapper {
    display: flex;
    background-color: hsl(var(--accent));
    border: 1px solid #e5e7eb;
    border-radius: 0.375rem;
    height: 120px;
    width: 100%;
    padding: 0.5rem 1rem;
    opacity: 0.8;
    pointer-events: none;
  }