.sidebarTitle{
    font-size: 0.875rem;
    color: #6b7280;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    place-self: start;          
}

.elementContainer{
    display : grid;
    grid-template-columns: auto auto;
    gap:1rem;
}

.mainTitle{
  font-size: 0.875rem; /* text-sm */
  color: rgba(0, 0, 0, 0.7); /* text-foreground/70 */
}
